@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: rgb(226, 225, 225);
}

/* Header Styling */

.header-outer{
    width: 100%;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.header-inner{
    width: 80%;
    height: 90%;
    display: flex;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: transparent;
    justify-content: flex-start;
}

.header-logo{
    height: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    
}

.header-logo h1{
    font-size: 2.5rem!important;
    color: rgb(240, 240, 240);
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-left: 40px;
}

.header-navbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.nav-link{
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.75rem;
    font-weight: 700;
    margin-right: 40px;
} 

.nav-link a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.nav-link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0; /*location from bottom left (0,0) */
    left: 0;
    background-color: white;
    transition: all 0.3s ease;
}

.nav-link a:hover::after{
    width: 100%;
}

.contact-icon-container{
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgb(92, 92, 92);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #ffffff;
    background-size: cover;
}

.contact-icon:hover{
    color: rgb(20, 183, 137);
    transition: all 0.3s ease;
}

.contact-number{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 4px solid #ffffff;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bolder;

}

.contact-number:hover{
    background-color: #ffffff;
    color: rgb(20, 183, 137);
    transition: all 0.3s ease;
}

/* Header Styling */

/* Hero section styling */

.hero-outer{
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
}

.hero-svg-wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    background-color: rgb(20, 183, 137);
    overflow: hidden;

}

.hero-svg{
    position: absolute;
    height: 100%;
}

.hero-inner-main{
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero-circle-container{
    height: 450px;
    width: 480px;
    padding-bottom: 100px;
    position: relative;
    border-radius: 100%;
    top: 8%;
    right: 1%;
}

.hero-circle-div{
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.hero-circle-container > img{
    height: 70%;
    width: auto;
    padding-left: 100px;
    position: absolute;
    top: 50px;
    right: 1%;
}

.hero-inner{
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-inner-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-inner-top-profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/happy-bearded-young-man.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.hero-inner-top-text{
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #ffffff;
    border-radius: 50px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5rem;
}

.hero-inner-bottom-text{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    border: 5px solid rgb(255, 255, 255);
    background-color: #ffffff;
    color: rgb(20, 183, 137);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.4rem;
}

.hero-inner-button{
    width: 130px;
    height: 50px;
    margin-top: 15px;
    border: 5px solid rgb(83, 93, 161);
    background-color: rgb(83, 93, 161);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.hero-inner-button:hover{
    background-color: rgb(20, 183, 137);
    border: 5px solid rgb(20, 183, 137);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

/* Hero section styling */

/* About section styling */

.about-outer{
    width: 100vw;
    height: auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.about-inner{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.about-inner-left{
    width: 45%;
    height: auto;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-inner-left > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-inner-right{
    width: 50%;
    height: auto;
}

.about-inner-right-profile-card{
    width: 90%;
    height:auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(20, 183, 137);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-inner-right-profile{
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    display: inline-block;
    border-radius: 100%;
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/happy-bearded-young-man.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.about-inner-right-profile-card > h2{
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 2.5rem;
    color: white;
}

.about-inner-right > h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-inner-right > p{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(151, 151, 151);
    margin-bottom: 20px;
}
.about-inner-right > p a{
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.about-inner-right > p a:hover{
    text-decoration: none;
    color: rgb(20, 183, 137);
    font-weight: 600;
}

/* About section styling */
