@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: rgb(244, 244, 244);
}

/* Header Styling */

.header-outer{
    width: 100%;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-inner{
    width: 80%;
    height: 80px;
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: transparent;
    justify-content: flex-start;
    transition: box-shadow 0.3s ease;
    animation: scroll-transition;
    animation-timeline: scroll(y);
}

@keyframes scroll-transition{
    0%{
        background-color: transparent;
    }
    1%{
        background-color: white;
        color: black;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    }
    100%{
        background-color: white;
        color: black;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    }
}

.header-logo{
    height: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.header-logo h1{
    font-size: 2.5rem!important;
    color: rgb(240, 240, 240);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0)!important;
    animation: scroll-transition;
    animation-timeline: scroll(y);
}

.header-navbar{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding-left: 40px;
}

.header-navbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.nav-link{
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.75rem;
    font-weight: 700;
    margin-right: 40px;
} 

.nav-link a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    animation: scroll-transition-links;
    animation-timeline: scroll(y);
}

@keyframes scroll-transition-links{
    0%{
        color: white;
    }
    50%{
        color: rgb(20, 183, 137);
    }
    100%{
        color: rgb(20, 183, 137);
    }
}

.nav-link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0; /*location from bottom left (0,0) */
    left: 0;
    background-color: white;
    transition: all 0.3s ease;
    animation: scroll-transition-links-after;
    animation-timeline: scroll(y);
}

@keyframes scroll-transition-links-after{
    0%{
        color: white;
    }
    50%{
        background-color: rgb(20, 183, 137);
    }
    100%{
        background-color: rgb(20, 183, 137);
    }
}

.nav-link a:hover::after{
    width: 100%;
}

.contact-icon-container{
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgb(92, 92, 92);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #ffffff;
    background-size: cover;
    animation: scroll-transition-contact-icon;
    animation-timeline: scroll(y);
}

@keyframes scroll-transition-contact-icon{
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(20, 183, 137);
    }
    100%{
        background-color: rgb(20, 183, 137);
    }
}

.contact-number{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 4px solid #ffffff;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bolder;
    animation: scroll-transition-contact-number;
    animation-timeline: scroll(y);

}

@keyframes scroll-transition-contact-number{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: white;
        color: rgb(20, 183, 137);
        border-color: rgb(20, 183, 137);
    }
    100%{
        background-color: white;
        color: rgb(20, 183, 137);
        border-color: rgb(20, 183, 137);
    }
}

.contact-number:hover{
    background-color: #ffffff;
    color: rgb(20, 183, 137);
    transition: all 0.3s ease;
    cursor: pointer;
    animation: scroll-transition-contact-number-hover;
    animation-timeline: scroll(y);
}

@keyframes scroll-transition-contact-number-hover{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: rgb(20, 183, 137);
        color: white;
    }
    100%{
        background-color: rgb(20, 183, 137);
        color: white;
    }
}

/* Header Styling */

/* Hero section styling */

.hero-outer{
    width: 100vw;
    height: 90vh;
    display: flex;
    position: absolute;
    top: 0;
}

.hero-svg-wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    background-color: rgb(20, 183, 137);
    overflow: hidden;

}

.hero-svg{
    position: absolute;
    height: 100%;
}

.hero-inner-main{
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero-circle-container{
    height: 450px;
    width: 480px;
    padding-bottom: 100px;
    position: relative;
    border-radius: 100%;
    top: 8%;
    right: 1%;
}

.hero-circle-div{
    height: 350px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.hero-circle-container > img{
    height: 70%;
    width: auto;
    padding-left: 100px;
    position: absolute;
    top: 50px;
    right: 1%;
}

.hero-inner{
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-inner-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-inner-top-profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/happy-bearded-young-man.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.hero-inner-top-text{
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #ffffff;
    border-radius: 50px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5rem;
}

.hero-inner-bottom-text{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    border: 5px solid rgb(255, 255, 255);
    background-color: #ffffff;
    color: rgb(20, 183, 137);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.4rem;
}

.hero-inner-button{
    width: 130px;
    height: 50px;
    margin-top: 15px;
    border: 5px solid rgb(83, 93, 161);
    background-color: rgb(83, 93, 161);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.hero-inner-button:hover{
    background-color: rgb(20, 183, 137);
    border: 5px solid rgb(20, 183, 137);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

/* Hero section styling */

/* About section styling part1 */

.about-outer{
    width: 100vw;
    height: auto;
    margin-top: 550px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    background-color: white;
}

.about-inner{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.about-inner-left{
    width: 45%;
    height: auto;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-inner-left > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-inner-right{
    width: 50%;
    height: auto;
}

.about-inner-right-profile-card{
    width: 90%;
    height:auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(20, 183, 137);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-inner-right-profile{
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    display: inline-block;
    border-radius: 100%;
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/happy-bearded-young-man.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.about-inner-right-profile-card > h2{
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 2.5rem;
    color: white;
}

.about-inner-right > h3{
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.about-inner-right > p{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(151, 151, 151);
    margin-bottom: 20px;
}
.about-inner-right > p a{
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.about-inner-right > p a:hover{
    text-decoration: none;
    color: rgb(20, 183, 137);
    font-weight: 600;
}

/* About section styling part1 */

/* About section styling part2 */

.about-section{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(244, 244, 244);
}

.about-section-outer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-inner{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.about-section-inner-left{
    width: 42%;
    height: calc(70% - 6px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 30px;
    overflow: hidden;
}

.about-section-inner-topic{
    width:400px;
    margin: 10px 0px 10px 40px;
    font-size: 1.5rem;
}

.about-section-inner-topic > h2{
    margin: 0;
}

.about-section-inner-table-wrapper{
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-section-inner-table-wrapper > p{
    margin: 0;
    height: 60px;
    width: 100%;
    display: flex;
}

.title-section{
    width: 120px;
    height: 100%;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    font-size: 1.2rem;
    color: rgb(20, 183, 137);
}

.data-section{
    width: calc(100% - 120px);
    height: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgb(209, 209, 209);
    color: rgb(151, 151, 151);
    font-weight: 500;
}

.rw2{
    background-color: rgb(255, 249, 249);
}

.about-section-inner-right{
    width: 42%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-style: DM Sans, sans-serif;
}

.about-section-inner-row-top{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    margin-left: 40px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.about-section-inner-row-bottom{
    width: calc(100% - 40px);
    height: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner-column-left{
    width: 50%;
    height: 100%;
    padding-left: 20px;
    border-right: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.inner-column{
    width: 50%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-section-inner-right h3{
    font-size: 62px;
    margin: 0;
}

.about-section-inner-right p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(20, 183, 137);
}

/* About section styling part2 */

/* work experience section styling  */

.experience-section{
    width:100vw;
    height:400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-section-outer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-section-inner{
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.ex-sec-inner-row-top{
    width: 100%;
    height: 70px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.ex-sec-inner-row-top > h3{
    font-size: 2.5rem;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.ex-sec-inner-row-bottom{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ex-sec-inner-row-bottom > span{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.ex-sec-inner-row-bottom span > div{
    width: 120px;
    height: 100px;
    margin: 10px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease;
}

.ex-sec-icon-container> div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.ex-sec-icon-container > div:hover{
    transform: scale(1.3);
}

.ex-sec-image-1 > div{
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/clients/cachet.svg');
}

.ex-sec-image-2 > div{
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/clients/guitar-center.svg');
}

.ex-sec-image-3 > div{
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/clients/tokico.svg');
}

.ex-sec-image-4 > div{
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/clients/shopify.svg');
}

.ex-sec-image-5 > div{
    background-image: url('https://templatemo.com/templates/templatemo_578_first_portfolio/images/clients/profil-rejser.svg');
}

/* work experience section styling  */



